add {{ rpi3vm_fs }}
run

mount /dev/sda1 /
copy-out /{{ rpi3vm_dtb }} {{ rpi3vm_workdir }}
copy-out /{{ rpi3vm_kernel }} {{ rpi3vm_workdir }}
umount-all

mount /dev/sda2 /
copy-out /etc/ssh/sshd_config {{ rpi3vm_workdir }}
umount-all
