add {{ rpi3vm_fs }}
run

mount /dev/sda1 /
write /ssh ""
umount-all

mount /dev/sda2 /
mkdir-p /home/pi/.ssh/
copy-in {{ rpi3vm_sshid }}.pub /home/pi/.ssh/
mv /home/pi/.ssh/{{ rpi3vm_sshid | basename }}.pub /home/pi/.ssh/authorized_keys
chown 1000 1000 /home/pi/.ssh
chmod 0700 /home/pi/.ssh/
chown 1000 1000 /home/pi/.ssh/authorized_keys
chmod 0600 /home/pi/.ssh/authorized_keys
rm /etc/ssh/sshd_config
copy-in {{ rpi3vm_workdir }}/sshd_config /etc/ssh/
chmod 0600 /etc/ssh/sshd_config
umount-all
