#!/usr/bin/bash

set -x

rm -f {{ rpi3vm_workdir }}/vm.out
rm -f {{ rpi3vm_workdir }}/vm.pid

# Probably there is a better way to resize on first boot

INIT=""
[ "$1" = "init" ] && INIT="init=/usr/lib/raspi-config/init_resize.sh"

nohup qemu-system-aarch64 \
    -M raspi3 -m 1G \
    -dtb {{ rpi3vm_workdir }}/{{ rpi3vm_dtb }} \
    -kernel {{ rpi3vm_workdir }}/{{ rpi3vm_kernel }} \
    -drive file={{ rpi3vm_workdir }}/{{ rpi3vm_fs }},format=raw,if=sd \
    -append "rw earlycon=pl011,0x3f201000 console=ttyAMA0 loglevel=8 root=/dev/mmcblk0p2 rootwait rootfstype=ext4 fsck.repair=yes memtest=1 $INIT" \
    -nographic \
    -device usb-net,netdev=net0 \
    -netdev user,id=net0,hostfwd=tcp:{{ rpi3vm_sshfwd_host }}:{{ rpi3vm_sshfwd_port }}-:22 \
    >{{ rpi3vm_workdir }}/vm.out 2>&1 \
    &

echo $! | tee {{ rpi3vm_workdir }}/vm.pid
